 <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Online Alýþveriþ Sitesi</h1>
                <p class="lead">Bu site tamamen deneme amaçlý yapýlmýþtýr daha iyilerinde görüþmek üzere</p>
            </div>
        </div>
    </header>